<div ng-controller="FsController">

  <!-- display each list -->
  <div class="list panel panel-default">
    <div class="panel-heading">
      Foodstuffs
    </div>

    <div class="panel-body">
      <div class="input-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="newFs.name" />
      </div>

      <div class="input-group">
        <label>Description</label>
        <input type="text" class="form-control" ng-model="newFs.desc" />
      </div>

      <div class="input-group">
        <label>Price</label>
        <input type="text" class="form-control" ng-model="newFs.price" />
      </div>

      <div class="input-group">
        <label>Space-seperated tags</label>
        <input type="text" class="form-control" ng-model="newFs.pretags" />
      </div>

      <div class="input-group">
        <button class="btn btn-primary" ng-click="addFs(newFs)">Add Foodstuff</button>
      </div>
    </div>

    <ul class="list-group">
      <li
        class="list-group-item"
        ng-repeat="l in foodstuffs | reverse"
        tooltip-placement="left"
        tooltip="Tags: {{l.tags.join(', ')}}"
        >
        {{l.name}} <small>{{l.price | currency}}</small>

        <!-- delete button -->
        <button
          class="btn btn-danger btn-xs pull-right"
          ng-click="delFs(l)"
          >Delete
        </button>

        <button
          class="btn btn-primary btn-xs pull-right"
          data-toggle="modal"
          data-target="#edit-foodstuff-{{l._id}}"
          style="margin-right: 10px;"
          >Edit
        </button>

        <div class="modal fade" id="edit-foodstuff-{{l._id}}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editing '{{l.name}}'</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" ng-model="l.desc" />
                </div>

                <div class="form-group">
                  <label>Price</label>
                  <input type="text" class="form-control" ng-model="l.price" />
                </div>

                <div class="form-group">
                  <label>Space-seperated Tags</label>
                  <input type="text" class="form-control" ng-model="pretags" ng-init="pretags = l.tags.join(' ')"/>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="modifyFs(l, pretags)">Save</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </li>
    </ul>
  </div>

</div>
