<div ng-controller="ListController">

  <input
    type="text"
    typeahead="l.name for l in DispLists | filter:$viewValue | limitTo:8"
    class="search-box hidden-print"
    ng-model="listSearchString"
    placeholder="Search Lists"
  />
  <br/>

  <!-- loading icon -->
  <span ng-hide="DispLists.length" class="glyphicon glyphicon-refresh spinning loading"></span>

  <!-- display each list -->
  <div
    class="list panel panel-default {{ 'list-' + l.tags.join(' list-') }}"
    ng-repeat="l in DispLists"
    ng-show="matchesSearchString(l, listSearchString)"
  >
    <div class="panel-heading" tooltip-placement="left" tooltip="Tags: {{l.tags.join(', ')}}">
      {{l.name}} <small>{{l.desc}}</small>

      <!-- delete button -->
      <button
        class="btn btn-danger btn-xs pull-right"
        ng-click="delList(l)"
        >Delete
      </button>
    </div>

    <div class="panel-body row">
      <div class="col-md-11 col-sm-11 col-xs-12">
        <input
          type="text"
          ng-model="foodstuff"
          typeahead="fs.name for fs in getTypeahead(l) | filter:$viewValue | limitTo:8"
          class="form-control"
          placeholder="Add new item to list"
        />
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <button class="btn btn-primary pull-left" ng-click="addToList(l, foodstuff); foodstuff=''">Add</button>
      </div>
    </div>

    <!-- each item on the list -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="cnt in l.contents | reverse">

        <!-- checkbox, title and desc -->
        <!-- less than sm version -->
        <p class="visible-md-inline visible-lg-inline">
          <span class="checkboxes" ng-hide="cnt.contents">
            <span
              class="glyphicon glyphicon-unchecked disabled"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = true; updateList(l);"
              ng-hide="cnt.checked">
            </span>
            <span
              class="glyphicon glyphicon-check text-primary"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = false; updateList(l);"
              ng-show="cnt.checked">
            </span>
          </span>
          {{cnt.name}} <small>{{cnt.tags.join(", ")}}</small>
        </p>

        <!-- greater than md version -->
        <span class="visible-sm-inline visible-xs-inline">
          <span class="checkboxes" ng-hide="cnt.contents">
            <span
              class="glyphicon glyphicon-unchecked disabled"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = true; updateList(l);"
              ng-hide="cnt.checked">
            </span>
            <span
              class="glyphicon glyphicon-check text-primary"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = false; updateList(l);"
              ng-show="cnt.checked">
            </span>
          </span>
          {{cnt.name}} <small>{{cnt.tags.join(", ")}}</small>
        </span>

        <!-- only for foodstuffs -->
        <span ng-hide="cnt.contents">

          <!-- delete button -->
          <button
            class="btn btn-danger btn-xs pull-right"
            ng-click="delFromList(l, cnt.name)"
            >Delete
          </button>

          <!-- item price -->
          <input
            type="text"
            class="form-control pull-right form-control-xs price"
            ng-model="cnt.price"
            ng-change="updateList(l)"
            placeholder="Price"
          />

          <span class="pull-right at-sign">@</span>

          <!-- item quantity -->
          <input
            type="number"
            class="form-control pull-right form-control-xs quantity"
            ng-model="cnt.amt"
            ng-change="updateList(l)"
            placeholder="Quantity"
          />
        </span>

        <!-- for other lists -->
        <span ng-show="cnt.contents">
          <!-- item price -->
          <input
            type="text"
            class="form-control pull-right form-control-xs price"
            disabled
            ng-value="totalList(cnt).price | currency:''"
            placeholder="Price"
            style="margin-right: 53px;"
          />

          <span class="pull-right at-sign">@</span>

          <!-- item quantity -->
          <input
            type="number"
            class="form-control pull-right form-control-xs quantity"
            ng-model="cnt.amt"
            ng-change="updateList(l)"
            placeholder="Quantity"
          />

          <!-- show list contents -->
          <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item" ng-repeat="listitem in cnt.contents">

              <span class="checkboxes">
                <span
                  class="glyphicon glyphicon-unchecked disabled"
                  style="margin-right: 10px; cursor: pointer;"
                  ng-click="listitem.checked = true; updateList(l);"
                  ng-hide="listitem.checked">
                </span>
                <span
                  class="glyphicon glyphicon-check text-primary"
                  style="margin-right: 10px; cursor: pointer;"
                  ng-click="listitem.checked = false; updateList(l);"
                  ng-show="listitem.checked">
                </span>
              </span>

              {{listitem.name}}

              <button
                class="btn btn-danger btn-xs pull-right"
                ng-click="cnt.contents.splice($index, 1); cnt.contents.length || delFromList(l, cnt.name); updateList(l);"
                >Delete
              </button>
            </li>
          </ul>


        </span>

      </li>
      <li class="list-group-item clearfix">
        <span class="pull-right">
          Subtotal: {{totalList(l).price | currency}}
        </span>
      </li>
    </ul>


  </div>




  <!-- only display when printing -->
  <div class="visible-print-block printable-list" ng-repeat="l in DispLists">
    <h3>{{l.name}} <small>{{l.desc}}</small></h3>
    <div ng-repeat="(k, v) in printableList[l.name]">
      <h4>{{k}}</h4>
      <ul>
        <li ng-repeat="i in v" style="padding-right: 16px;">
          {{i.name}}
          <small>{{i.desc}}</small><br/>
          <span>{{i.price | currency }}</span>
          <span style="margin-left: 10px;">{{i.tags.join(', ')}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
