
.login-form {
  @extend .container;
  width: 500px;

  // center the logo above the login form
  img.hero {
    width: 64px;
    margin: 0px auto 20px auto;
    display: block;
  }

  // all inputs, including both boxes
  // and the submit button
  input {
    height: 42px;
  }

  // the text input boxes
  input[type=text], input[type=password] {
    @extend .line-box;
  }

  // login button
  input[type=submit] {
    @extend .btn;
    @include flat();
    background: $mid-cena-green;

    &, &:hover {
      color: white;
    }
  }

}

// flash alert box
.alert {
  @include flat("alert");
}
