@import url(http://fonts.googleapis.com/css?family=Dosis);
@import "../bootstrap/sass/bootstrap";

@import "panel";
@import "navbar";

body {
  background: $gray-lighter;
  font-weight: 300;
}

.list {
  @extend .hidden-print;
}


// icon stuff
.glyphicon.disabled {
  color: $gray-light;
}

.glyphicon.loading {
  font-size: 300%;
  margin: 20px auto;
  position: relative;
  left: 50%;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


span.checkboxes span {
  vertical-align: middle;
  font-size: $font-size-base * 1.2;
}

// adjust list group height larger on mobile
ul.list-group .list-group-item {
  height: 64px;
}
@media (min-width: $screen-sm-min) {
  ul.list-group .list-group-item {
    height: auto;
  }
}

.list small {
  color: $gray-light;
  margin-left: 4px;
}

.form-control-xs {
  height: 22px;
  font-size: 12px;
  padding: 2px;
  border-radius: 3px;
}

.quantity {
  margin: 0px 5px;
  width: 100px;
}

.price {
  margin: 0px 5px 0px 0px;
  width: 100px;
}

// dollar sign for price
.at-sign::after {
  content: "$";
  font-size: 12px;
  display: inline-block;

  position: relative;
  top: 1px;

  padding-left: 2px;
  padding-right: 1px;
}


// new list panel
.input-group {
  padding: 5px;
  width: 100%;

  // buttons to quickly add tags
  &.tag-buttons {
    ul { padding-left: 0px; }
    li {
      list-style-type: none;
      display: inline;
      button {
        margin: 2px 0px;
      }
    }
  }
}

// for printable list
.printable-list {
  font-size: $font-size-base * .7;
  h4 { font-size: $font-size-base * .8; }
}

// navbar dropdown lists
.dropdown-menu {
  @extend .panel;
}

// == special tags ==

// a grocery list
span.checkboxes { display: none; }
.list-grocery span.checkboxes {
  display: inline;
}

// a recipe
.list-recipe { @extend .panel-info; }

// gluten free
.list-no-gluten .panel-heading::before {
  content: "[GF]";
  color: $brand-danger;
}

// veggitarian
.list-veggie .panel-heading::before {
  content: "[V]";
  color: green;
}

// my sister will eat it
.list-maggie .panel-heading::before {
  content: "[MG]";
  color: #F0F;
}

// I'll eat it
.list-ryan .panel-heading::before {
  content: "[RY]";
  color: #71C837;
}

// my dad will eat it
.list-bob .panel-heading::before {
  content: "[B]";
  color: #36b8c7;
}
