// out: index.css
@import "../bootstrap/less/bootstrap.less";

.list small {
  color: @gray-light;
  margin-left: 4px;
}

.form-control-xs {
  height: 22px;
  font-size: 12px;
  padding: 2px;
  border-radius: 3px;
}

.quantity {
  margin: 0px 5px;
  width: 100px;
}
