<div ng-controller="ListController">

  <!-- display each list -->
  <div class="new-list panel panel-default">
    <div class="panel-heading">
      Add new List
    </div>

    <div class="panel-body">

      <div class="input-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="newList.name" />
      </div>

      <div class="input-group">
        <label>Space-seperated tags</label>
        <input type="text" class="form-control" id="list-tags" ng-model="newList.pretags" />
      </div>

      <!-- list tag buttons -->
      <div class="input-group tag-buttons">
        <ul>
          <li>
            <button ng-click='addTagToNewList("grocery")' class="btn btn-xs btn-default">grocery</button>
          </li>
          <li>
            <button ng-click='addTagToNewList("recipe")' class="btn btn-xs btn-info">recipe</button>
          </li>
          <li>
            <button ng-click='addTagToNewList("no-gluten")' class="btn btn-xs btn-danger">no-gluten</button>
          </li>
          <li>
            <button ng-click='addTagToNewList("veg")' class="btn btn-xs btn-success">veg</button>
          </li>

          <div style="width: 4px; display: inline-block;"></div>

          <!-- custom, user tags -->
          <li ng-repeat="tag in userTags">
            <button ng-click='addTagToNewList(tag.name)' class="btn btn-xs btn-{{tag.color || 'default'}}">
              {{tag.name}}
            </button>
          </li>

        </ul>
      </div>

      <!-- description: hide for a grocery list -->
      <div class="input-group" ng-show="newList.pretags.split(' ').indexOf('grocery') === -1">
        <label>Description</label>
        <textarea
          class="form-control"
          ng-model="newList.desc"
        ></textarea>
      </div>

      <div class="input-group">
        <button class="btn btn-primary" ng-click="addList(newList)">Add List</button>
      </div>
    </div>

  </div>

</div>
