<div ng-controller="ListController">

  <h1 ng-controller="NavController" class="text-center" ng-hide="username === owner">
    {{owner}}'s Lists
  </h1>

  <input
    type="text"
    typeahead="l.name for l in DispLists | filter:$viewValue | limitTo:8"
    class="search-box hidden-print"
    ng-model="listSearchString"
    placeholder="Search Lists"
  />
  <br/>

  <!-- loading icon -->
  <span ng-hide="isData" class="glyphicon glyphicon-refresh spinning loading"></span>

  <!-- display each list -->
  <div
    class="list panel panel-default {{ 'list-' + l.tags.join(' list-') }}"
    ng-repeat="l in DispLists"
    ng-show="matchesSearchString(l, listSearchString)"
  >
    <div class="panel-heading">
      <span class="list-{{c}}" ng-repeat="c in l.tags"></span>
      {{l.name}}
      <small class="muted">{{l.tags.join(', ')}}</small>

      <!-- delete button -->
      <button
        class="btn btn-danger btn-xs pull-right"
        ng-click="delList(l)"
        ng-hide="l.users.indexOf(username) === -1"
        >Delete
      </button>

      <!-- access button -->
      <button
        class="btn btn-primary btn-xs pull-right"
        style="margin-right: 6px;"
        data-toggle="modal"
        data-target="#accessModal-{{l.name.split(' ').join('-')}}"
        ng-hide="l.users.indexOf(username) === -1"
        >Access...
      </button>

      <!-- access modal -->
      <div class="modal fade accessModal" id="accessModal-{{l.name.split(' ').join('-')}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Who can access "{{l.name}}"?</h4>
            </div>

            <div class="modal-body">

              <!-- user list -->
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="u in l.users">
                  {{u}}

                  <button
                    class="btn btn-danger btn-xs pull-right"
                    ng-click="removeUserFromList($parent.$index, u);"
                    ng-show="l.users.length > 1"
                    >Delete
                  </button>
                </li>
              </ul>

              <!-- add another user -->
              <input
                type="text"
                placeholder="Type a username."
                class="form-control"
                ng-model="newUser"
               />
              <br/>
              <button
                class="btn btn-primary"
                ng-click="addUserToList($index, newUser); newUser='';"
                >Add
              </button>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="updateUsersModal(l)">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- description: rendered in markdown -->
    <div class="panel-body no-pad row" ng-show="l.tags.indexOf('grocery') === -1">
      <!-- edit -->
      <textarea
        placeholder="Recipe Description (Supports Markdown)"
        class="line-box blue-focus"
        ng-model="l.desc"
        ng-change="updateList(l)"
        ng-hide="l.users.indexOf(username) === -1"
      ></textarea>

      <!-- render -->
      <div class="container" ng-show="l.users.indexOf(username) === -1">
        <p marked="l.desc"></p>
      </div>
    </div>


    <!-- search box -->
    <div class="panel-body no-pad row" ng-hide="l.users.indexOf(username) === -1">
      <div class="input-group">
        <input
          type="text"
          ng-model="foodstuff"
          typeahead="fs.name for fs in getTypeahead(l) | filter:$viewValue | limitTo:8"
          class="form-control"
          placeholder="Add new item to list"
         />
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addToList(l, foodstuff); foodstuff=''">Add</button>
        </span>
      </div>
    </div>

    <!-- each item on the list -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="cnt in l.contents | reverse">

        <!-- checkbox, title and desc -->
        <!-- less than sm version -->
        <p class="visible-md-inline visible-lg-inline">
          <span class="checkboxes" ng-hide="cnt.contents">
            <span
              class="glyphicon glyphicon-unchecked disabled"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = true; updateList(l);"
              ng-hide="cnt.checked">
            </span>
            <span
              class="glyphicon glyphicon-check text-primary"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = false; updateList(l);"
              ng-show="cnt.checked">
            </span>
          </span>
          {{cnt.name}}
          <small>{{cnt.desc}}</small>
          <small>{{cnt.tags.join(", ")}}</small>
        </p>

        <!-- greater than md version -->
        <span class="visible-sm-inline visible-xs-inline">
          <span class="checkboxes" ng-hide="cnt.contents">
            <span
              class="glyphicon glyphicon-unchecked disabled"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = true; updateList(l);"
              ng-hide="cnt.checked">
            </span>
            <span
              class="glyphicon glyphicon-check text-primary"
              style="margin-right: 10px; cursor: pointer;"
              ng-click="cnt.checked = false; updateList(l);"
              ng-show="cnt.checked">
            </span>
          </span>
          {{cnt.name}} <small>{{cnt.tags.join(", ")}}</small>
        </span>

        <!-- only for foodstuffs -->
        <span ng-hide="cnt.contents">

          <!-- delete button -->
          <button
            class="btn btn-danger btn-xs pull-right"
            ng-click="delFromList(l, cnt.name)"
            ng-disabled="l.users.indexOf(username) === -1"
            >Delete
          </button>

          <!-- item price -->
          <input
            type="text"
            class="form-control pull-right form-control-xs price"
            ng-model="cnt.price"
            ng-change="updateList(l)"
            placeholder="Price"
            ng-disabled="l.users.indexOf(username) === -1"
          />

          <span class="pull-right at-sign">@</span>

          <!-- item quantity -->
          <input
            type="number"
            class="form-control pull-right form-control-xs quantity"
            ng-model="cnt.amt"
            ng-change="updateList(l)"
            placeholder="Quantity"
            ng-disabled="l.users.indexOf(username) === -1"
           />

          <!-- store to buy the item at -->
          <div class="store-group" role="group">

            <!--
            Each Store
            make each one the correct color for a better ux
            -->
            <button
              type="button"
              class="btn-default"
              ng-class="{'btn-{{s.color}}': cnt.tags.indexOf(s.name) !== -1}"
              ng-repeat="s in getShops()"
              ng-click="addRemoveShop(l, cnt, s.name)">
              {{s.name.replace("shop-", '')}}
            </button>

            <!-- no store -->
            <button type="button" ng-click="addRemoveShop(l, cnt)">x</button>
          </div>
        </span>

        <!-- for other lists -->
        <span ng-show="cnt.contents">
          <!-- item price -->
          <input
            type="text"
            class="form-control pull-right form-control-xs price"
            disabled
            ng-value="totalList(cnt).price | currency:''"
            placeholder="Price"
            style="margin-right: 53px;"
            ng-disabled="cnt.users.indexOf(username) === -1"
          />

          <span class="pull-right at-sign">@</span>

          <!-- item quantity -->
          <input
            type="number"
            class="form-control pull-right form-control-xs quantity"
            ng-model="cnt.amt"
            ng-change="updateList(l)"
            placeholder="Quantity"
            ng-disabled="cnt.users.indexOf(username) === -1"
          />

          <!-- show list contents -->
          <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item" ng-repeat="listitem in cnt.contents">

              <span class="checkboxes">
                <span
                  class="glyphicon glyphicon-unchecked disabled"
                  style="margin-right: 10px; cursor: pointer;"
                  ng-click="listitem.checked = true; updateList(l);"
                  ng-hide="listitem.checked">
                </span>
                <span
                  class="glyphicon glyphicon-check text-primary"
                  style="margin-right: 10px; cursor: pointer;"
                  ng-click="listitem.checked = false; updateList(l);"
                  ng-show="listitem.checked">
                </span>
              </span>

              {{listitem.name}}

              <button
                class="btn btn-danger btn-xs pull-right"
                ng-click="cnt.contents.splice($index, 1); cnt.contents.length || delFromList(l, cnt.name); updateList(l);"
                ng-disabled="l.users.indexOf(username) === -1"
                >Delete
              </button>
            </li>
          </ul>


        </span>

      </li>
      <li class="list-group-item clearfix">
        <span class="pull-right">
          Subtotal: {{totalList(l).price | currency}}
        </span>
      </li>
    </ul>


  </div>




  <!-- only display when printing -->
  <div class="visible-print-block">
    <img src="/img/logo.png" class="micro" />
    <div class="printable-list" ng-repeat="l in DispLists">
      <h3>
        {{l.name}}
        <small>{{l.desc}}</small>
      </h3>

      <!-- each 'sort-' section -->
      <div class="sort-well" ng-repeat="(k, v) in printableList[l.name]">
        <h4>{{k}}</h4>
        <ul>

          <!-- each item -->
          <li
            ng-repeat="i in v"
            style="padding-right: 16px;"
            ng-class="{'checked': i.checked}"
            >
            <!-- <span class="checkboxes"> -->
              <span
                class="glyphicon glyphicon-unchecked disabled"
                style="margin-right: 4px; font-size: 14px;"
                ng-hide="i.checked">
              </span>
              <span
                class="glyphicon glyphicon-check"
                style="margin-right: 4px; font-size: 14px;"
                ng-show="i.checked">
              </span>
            <!-- </span> -->
            <span class="store-color store-color-{{getShopForList(i).color}}">
              {{i.name}}
            </span>
            <small>{{i.desc}}</small>&nbsp;
            <span>{{i.price | currency }}</span>
            <span style="margin-left: 10px;">{{i.tags.join(', ')}}</span>
          </li>


        </ul>
      </div>
    </div>
  </div>

</div>
